<ion-view title="Hertz" id="page1">
  <ion-content padding="true" style="background: url(img/xbOG5elUQTKh9AXM48tG_3b2339cfac6a715d54b4dd27c741fdae.gif) no-repeat center;background-size:cover;" class="has-header">
    <div style="margin-right:-20px;">
      <button id="hertz-button50" style="left:-10px;font-weight:600;color:#B8FF00;font-size:22px;" class="button button-dark button-full">வாசிப்புச் சொற்கள் </button>
    </div>
    <h1 id="hertz-heading1" style="color:#FD0000;font-weight:600;text-align:center;">தமிழ்மொழி ஆண்டு 2</h1>
    <div>
      <img src="img/2mt4P8YvQwuqQ0QaFRqx_giphy.gif" style="display: block; width: 95%; height: 50%; margin-left: auto; margin-right: auto;">
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="page3()" id="hertz-button4" style="left:-10px;font-weight:600;color:#FFFFFF;" class="button button-assertive button-full">அறிமுகம் </a>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="page2()" id="hertz-button5" style="left:-10px;font-weight:600;color:#86300E;" class="button button-energized button-full">ர-கரம் சொற்கள்</a>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="page4()" id="hertz-button6" style="left:-10px;font-weight:600;" class="button button-balanced button-full">ற-கரம் சொற்கள் </a>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="page5()" id="hertz-button7" style="left:-10px;font-weight:600;color:#690832;" class="button button-calm button-full icon-right ion-android-create">பயிற்சி </a>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="page8()" id="hertz-button100" style="left:-10px;font-weight:600;color:#000000;" class="button button-royal button-full icon-right ion-android-bulb">எங்களைப் பற்றி</a>
    </div>
  </ion-content>
</ion-view>