<ion-view title="ரகரம் காணொலி" id="page9" style="background-color:#BF1BB0;">
  <ion-content padding="true" style="background: url(img/IBCxQLE1Sd2ArHtqYt3X_3b2339cfac6a715d54b4dd27c741fdae.gif) no-repeat center;background-size:cover;" class="has-header">
    <div style="margin-right:-20px;">
      <button id="page9-button110" style="left:-10px;font-weight:600;font-size:18px;" class="button button-dark button-full">காணொலியின் வழி ரகரம் உச்சரிக்கும் முறையை அறிந்திடுக !</button>
    </div>
    <div ng-init="videourl_video5=&quot;https://www.youtube.com/embed/GeVpKinkheU?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="page9-video5">
      <iframe src="{{videourl_video5}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <button id="page9-button111" class="button button-assertive button-block icon ion-android-contacts"></button>
    <div>
      <img src="img/ExTbv1EmS6SmrsgGZXQ7_tenor.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>