<ion-view title="ரகரம் " id="page2" style="background-color:#BB2D44;">
  <ion-content padding="true" style="background: url(img/awZhhgPSRWHClhLvcJrB_3b2339cfac6a715d54b4dd27c741fdae.gif) no-repeat center;background-size:cover;" class="has-header">
    <div style="margin-right:-20px;">
      <button id="page2-button2" style="left:-10px;font-weight:600;color:#FF0033;font-size:26px;border-radius:-4px -4px -4px -4px;" class="button button-energized button-full icon-right ion-android-chat">வாசித்திடுக ! </button>
    </div>
    <div ng-init="videourl_video1=&quot;https://www.youtube.com/embed/Sz1QXM2MfKE?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="page2-video1">
      <iframe src="{{videourl_video1}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <button id="page2-button114" class="button button-assertive button-block icon ion-android-arrow-dropdown-circle"></button>
    <div>
      <img src="img/4nt7ZiSK64o3LFscI2pg_800px_COLOURBOX3096201.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div style="margin-right:-20px;">
      <button id="page2-button8" style="left:-10px;font-weight:600;color:#000000;font-size:22px;" class="button button-balanced button-full">அரை </button>
    </div>
    <div>
      <img src="img/RF30dAk3Tmmwr3PFvZ6m_athi_6_19437.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div style="margin-right:-20px;">
      <button id="page2-button10" style="left:-10px;font-weight:600;color:#000000;font-size:22px;" class="button button-calm button-full">இரை</button>
    </div>
    <div>
      <img src="img/vzZuJJEISVubBYBGW9xS_download2.jfif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div style="margin-right:-20px;">
      <button id="page2-button11" style="left:-10px;font-weight:600;color:#181616;font-size:22px;" class="button button-energized button-full">உரை </button>
    </div>
    <div>
      <img src="img/bbBeU0RVTWCwBz3X3oBN_50993722-stock-vector-cute-elephant-cartoon.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div style="margin-right:-20px;">
      <button id="page2-button12" style="left:-10px;font-weight:600;color:#000000;font-size:22px;" class="button button-royal button-full">கரி</button>
    </div>
    <div>
      <img src="img/Hc2RXXWUSSOHJdMkh3Qg_black-wallpapers-25166-121698.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div style="margin-right:-20px;">
      <button id="page2-button13" style="left:-10px;font-weight:600;color:#000000;font-size:22px;" class="button button-balanced button-full">கருப்பு </button>
    </div>
    <div>
      <img src="img/YRIl3k0tSeCUgdkqoHHX_download5.jfif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div style="margin-right:-20px;">
      <button id="page2-button14" style="left:-10px;font-weight:600;color:#000000;font-size:22px;" class="button button-assertive button-full">கரை </button>
    </div>
    <div>
      <img src="img/VwXs8aJPRoSHn8F7pO7I_download6.jfif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div style="margin-right:-20px;">
      <button id="page2-button15" style="left:-10px;font-weight:600;color:#000000;font-size:22px;" class="button button-calm button-full">மரம் </button>
    </div>
    <div>
      <img src="img/MISVy7ubTBfN5h7LYQlA_download8.jfif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div style="margin-right:-20px;">
      <button id="page2-button16" style="left:-10px;font-weight:600;color:#020202;font-size:22px;" class="button button-energized button-full">விரல் </button>
    </div>
    <div>
      <img src="img/3xRZHtAZRMGZ4WMX3UJ5_Beggard-Dream-Meaning.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div style="margin-right:-20px;">
      <button id="page2-button17" style="left:-10px;font-weight:600;color:#000000;font-size:22px;" class="button button-royal button-full">இரக்கை </button>
    </div>
    <div>
      <img src="img/3auCESCGTKqRj4IIwTpQ_download11.jfif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div style="margin-right:-20px;">
      <button id="page2-button24" style="left:-10px;font-weight:600;color:#000000;font-size:22px;" class="button button-assertive button-full">பரி </button>
    </div>
  </ion-content>
</ion-view>