<ion-view title="" id="page7">
  <ion-content padding="true" style="background: url(img/YdpqinzsSDqfZILv9j81_images.jfif) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/1QTZ7YqTHujL96Y8T2Yf_source.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div style="margin-right:-20px;">
      <button id="page7-button102" style="left:-10px;font-weight:600;color:#00E3FF;font-size:25px;" class="button button-assertive button-large button-full">தவறான விடை</button>
    </div>
    <div style="margin-right:-20px;">
      <button id="page7-button103" style="left:-10px;font-weight:600;color:#69336B;font-size:25px;" class="button button-energized button-large button-full">மீண்டும் முயல்க</button>
    </div>
    <div>
      <img src="img/z8bSHptTbibodqtkcrP8_source.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>