<ion-view title="அறிமுகம்" id="page3">
  <ion-content padding="true" style="background: url(img/lTJN8UPuQtfFla25yDDu_ImpressionableConsiderateBactrian-size_restricted.gif) no-repeat center;background-size:cover;" class="has-header">
    <h3 id="page3-heading2" style="color:#13FFC4;font-weight:600;text-align:center;">ரகரம் மற்றும் றகரம் எழுத்துகளைக் கூறும் முறையை அறிக !</h3>
    <div>
      <img src="img/x15XWplkTmWsZAddz53f_XHXn.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="page9()" id="page3-button51" style="left:-10px;font-weight:600;color:#06021F;font-size:16px;" class="button button-energized button-full">ர-கரம் எழுத்தின் கூறும் முறை </a>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="page10()" id="page3-button52" style="left:-10px;font-weight:600;color:#020801;font-size:16px;" class="button button-balanced button-full">ற-கரம் எழுத்தின் கூறும் முறை</a>
    </div>
  </ion-content>
</ion-view>