<ion-view title="எங்களைப் பற்றி " id="page8">
  <ion-content padding="true" style="background: url(img/cDefLAyGT0nVjmQcBnwy_ImpressionableConsiderateBactrian-size_restricted.gif) no-repeat center;background-size:cover;" class="has-header">
    <h3 id="page8-heading4" style="color:#05FFFF;font-weight:600;text-align:center;">யாரிடம் கற்கிறோமோ அவரே ஆசிரியர்; போதிப்பவர் எல்லாம் ஆசிரியர் ஆகார்.</h3>
    <div>
      <img src="img/Q3C6uUJdRgevZO4eNUT1_083f7229-2b1d-4c47-b2b9-4beeec1da0b9.jfif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page8-button104" style="font-weight:600;color:#000000;" class="button button-energized button-block">ஆசிரியை சர்மளா</button>
    <button id="page8-button105" style="font-weight:600;color:#000000;" class="button button-balanced button-block">ரகரம் மற்றும் றகரம்</button>
    <div>
      <img src="img/I3itMucgRhaZQpHMgv73_1506515e-606b-42b9-9b85-919e363f27c7.jfif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page8-button106" style="font-weight:600;color:#000000;" class="button button-energized button-block">ஆசிரியை கோகிலாதேவி</button>
    <button id="page8-button107" style="font-weight:600;color:#000000;" class="button button-balanced button-block">லகரம், ளகரம் மற்றும் ழகரம்</button>
    <div>
      <img src="img/FWxzk1hRdm3fuSrrXD78_7265dd2c-9690-4018-bff9-5193c6631f67.jfif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page8-button108" style="font-weight:600;color:#000000;" class="button button-energized button-block">ஆசிரியர் கண்ணன்</button>
    <button id="page8-button109" style="font-weight:600;color:#020202;" class="button button-balanced button-block">நகரம், னகரம் மற்றும் ணகரம்</button>
  </ion-content>
</ion-view>