<ion-view title="றகரம் " id="page4">
  <ion-content padding="true" style="background: url(img/mz2rWAB2SHuCM55cqVPS_3b2339cfac6a715d54b4dd27c741fdae.gif) no-repeat center;background-size:cover;" class="has-header">
    <div style="margin-right:-20px;">
      <button id="page4-button28" style="left:-10px;font-weight:600;color:#C4FF09;font-size:24px;" class="button button-assertive button-full">வாசித்திடுக !</button>
    </div>
    <div ng-init="videourl_video2=&quot;https://www.youtube.com/embed/riTDr5l6F28?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="page4-video2">
      <iframe src="{{videourl_video2}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <button id="page4-button115" class="button button-assertive button-block icon ion-android-archive"></button>
    <div>
      <img src="img/9TdLwQTPqaTAAwpkavOA_teenager-bedroom-cartoon-of-vector-20637544.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div style="margin-right:-20px;">
      <button id="page4-button29" style="left:-10px;font-weight:600;color:#000000;font-size:22px;" class="button button-balanced button-full">அறை</button>
    </div>
    <div>
      <img src="img/mK7auiIhQoqtcuyOiYuB_download1.jfif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div style="margin-right:-20px;">
      <button id="page4-button31" style="left:-10px;font-weight:600;color:#000000;font-size:22px;" class="button button-calm button-full">இறை</button>
    </div>
    <div>
      <img src="img/iAJdbHjNR7eAkrTOEMCo_download3.jfif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div style="margin-right:-20px;">
      <button id="page4-button32" style="left:-10px;font-weight:600;color:#000000;font-size:22px;" class="button button-energized button-full">உறை </button>
    </div>
    <div>
      <img src="img/au9GpgQ6TZuAm7hIxPPX_butter-chicken-curry.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div style="margin-right:-20px;">
      <button id="page4-button33" style="left:-10px;font-weight:600;color:#000000;font-size:22px;" class="button button-royal button-full">கறி</button>
    </div>
    <div>
      <img src="img/1jRFSknZRYjfohraSc73_black-wallpapers-25166-121698.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div style="margin-right:-20px;">
      <button id="page4-button34" style="left:-10px;font-weight:600;color:#000000;font-size:22px;" class="button button-balanced button-full">கறுப்பு</button>
    </div>
    <div>
      <img src="img/8ifB0AncQrzdKoyzeyzA_download4.jfif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div style="margin-right:-20px;">
      <button id="page4-button35" style="left:-10px;font-weight:600;color:#000000;font-size:22px;" class="button button-assertive button-full">கறை </button>
    </div>
    <div>
      <img src="img/42zl0YVcR1KJ8xURmM24_download7.jfif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div style="margin-right:-20px;">
      <button id="page4-button36" style="left:-10px;font-weight:600;color:#000000;font-size:22px;" class="button button-calm button-full">மறம் </button>
    </div>
    <div>
      <img src="img/bySYncPpQnG6BSQOcmXS_download9.jfif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div style="margin-right:-20px;">
      <button id="page4-button37" style="left:-10px;font-weight:600;color:#000000;font-size:22px;" class="button button-energized button-full">விறல் </button>
    </div>
    <div>
      <img src="img/EEDh7r7JREixq8jd1oMN_download10.jfif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div style="margin-right:-20px;">
      <button id="page4-button38" style="left:-10px;font-weight:600;color:#000000;font-size:22px;" class="button button-royal button-full">இறக்கை </button>
    </div>
    <div>
      <img src="img/X4or41l8T6GMGH5DVQ9c_download12.jfif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div style="margin-right:-20px;">
      <button id="page4-button45" style="left:-10px;font-weight:600;color:#000000;font-size:22px;" class="button button-assertive button-full">பறி </button>
    </div>
  </ion-content>
</ion-view>