<ion-view title="பயிற்சி " id="page5">
  <ion-content padding="true" style="background: url(img/5AZst9vdSoC1FbohV8A3_ImpressionableConsiderateBactrian-size_restricted.gif) no-repeat center;background-size:cover;" class="has-header">
    <div style="margin-right:-20px;">
      <button id="page5-button49" style="left:-10px;font-weight:600;color:#000000;font-size:14px;" class="button button-energized button-full">சரியான விடையைத் தேர்ந்தெடுக !</button>
    </div>
    <div>
      <img src="img/ChqrrGnbSVFjIVfORRg7_50993722-stock-vector-cute-elephant-cartoon.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page5-button-bar1" class="button-bar">
      <a ui-sref="page7()" id="page5-button56" style="font-weight:600;color:#000000;font-size:18px;" class="button button-royal button-block">கறி</a>
      <a ui-sref="page6()" id="page5-button57" style="font-weight:600;color:#000000;font-size:18px;" class="button button-balanced button-block">கரி </a>
    </div>
    <div>
      <img src="img/936tQGwRYG49JmJD98mu_download1.jfif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page5-button-bar2" class="button-bar">
      <a ui-sref="page6()" id="page5-button62" style="font-weight:600;color:#000000;font-size:18px;" class="button button-royal button-block">இறை</a>
      <a ui-sref="page7()" id="page5-button63" style="font-weight:600;color:#000000;font-size:18px;" class="button button-balanced button-block">இரை</a>
    </div>
    <div>
      <img src="img/4CUkcUUtTmyCaUVvZf2B_download12.jfif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page5-button-bar3" class="button-bar">
      <a ui-sref="page6()" id="page5-button68" style="font-weight:600;color:#000000;font-size:18px;" class="button button-royal button-block">பறி</a>
      <a ui-sref="page7()" id="page5-button69" style="font-weight:600;color:#000000;font-size:18px;" class="button button-balanced button-block">பரி</a>
    </div>
    <div>
      <img src="img/BtYnFMu9SYmQOne681iC_download10.jfif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page5-button-bar4" class="button-bar">
      <a ui-sref="page7()" id="page5-button74" style="font-weight:600;color:#000000;font-size:18px;" class="button button-royal button-block">இரக்கை</a>
      <a ui-sref="page6()" id="page5-button75" style="font-weight:600;color:#000000;font-size:18px;" class="button button-balanced button-block">இறக்கை</a>
    </div>
    <div>
      <img src="img/s2zLpTReSjOoo7fTsHq8_download8.jfif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page5-button-bar5" class="button-bar">
      <a ui-sref="page7()" id="page5-button80" style="font-weight:600;color:#000000;font-size:18px;" class="button button-royal button-block">விறல்</a>
      <a ui-sref="page6()" id="page5-button81" style="font-weight:600;color:#000000;font-size:18px;" class="button button-balanced button-block">விரல்</a>
    </div>
    <div>
      <img src="img/j1N9SFmeSCsxPP7SM9dN_butter-chicken-curry.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page5-button-bar6" class="button-bar">
      <a ui-sref="page6()" id="page5-button86" style="font-weight:600;color:#000000;font-size:18px;" class="button button-royal button-block">கறி</a>
      <a ui-sref="page7()" id="page5-button87" style="font-weight:600;color:#000000;font-size:18px;" class="button button-balanced button-block">கரி</a>
    </div>
    <div>
      <img src="img/WBKqdRqQRWuyyjsnBKFa_download2.jfif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page5-button-bar7" class="button-bar">
      <a ui-sref="page6()" id="page5-button92" style="font-weight:600;color:#000000;font-size:18px;" class="button button-royal button-block">உரை</a>
      <a ui-sref="page7()" id="page5-button93" style="font-weight:600;color:#000000;font-size:18px;" class="button button-balanced button-block">உறை</a>
    </div>
    <div>
      <img src="img/pZkZeVDcTx6pqrbMSwA9_athi_6_19437.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page5-button-bar8" class="button-bar">
      <a ui-sref="page7()" id="page5-button98" style="font-weight:600;color:#000000;font-size:18px;" class="button button-royal button-block">இறை</a>
      <a ui-sref="page6()" id="page5-button99" style="font-weight:600;color:#000000;font-size:18px;" class="button button-balanced button-block">இரை</a>
    </div>
  </ion-content>
</ion-view>